*{
    padding: 0%;
    margin: 0%;
    font-family: Noto Sans TC;
    font-size: 16px;
    color: #666666;
}

.footer{
    display: grid;
    grid-template-rows: 54px ;
    grid-template-columns: auto auto;
    align-items: center;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0px;
    z-index: 99;
    border: 1px solid #E8E8E8;

}


.footer .choose_page{
    display: grid;
    grid-template-columns: auto auto;
    text-align: right;
    font-size: 16px;
 
}

.footer .choose_page div{
	cursor:pointer;}

.page_title{
    margin: 10px;
    font-size: 30px;
    font-weight: 1000;
    color: #448899 ;
    cursor:pointer;
}

.thankyou-container{
    margin-top: 100px;
}

.thankyou-header{
    margin-bottom: 35px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    color: #666666;
}
.thankyou-order{
    margin-bottom: 40px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #666666;
}



.endBannar{
    display: flex;
    background-color: #666666;
    width: 100%;
    height: 104px;
    justify-content: center;
}

.endBannar div{
    color:white;
}

.signinModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
}

.modal-content{
    display: flex;
    position: relative;
    margin-top: 80px;
    width: 340px;
    height: 275px;
    /* border: 1px solid #888; */
    box-shadow: 0px 4px 60px #AAAAAA;
    background: 
    linear-gradient(270deg, #337788 0%, #66AABB 100%),
    white;
    background-repeat: no-repeat, no-repeat;
    background-size: 340px 10px, 340px 275px;
    background-position:0 0, 790px 80px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content .modal-header{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.modal-content .input-block{
    margin-top:5px;
    margin-left:15px;
    margin-right: 15px;
}

.modal-content input{
    margin-top:10px;
    width: 310px;
    height: 47px;
    font-size: 16px;
    text-indent: 15px;
    border-radius: 5px;
    background-color: white;
    border:1px solid #CCCCCC;
    cursor:pointer;
}

.modal-content input[type=submit]{
    background-color: #448899;
    border:1px solid #448899;
    font-size: 19px;
    color:white;
    cursor:pointer;
}

.modal-content .end-text{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    padding-bottom: 15px;
    cursor:pointer;
}


.modal-content .modal-header .sig-header{
    margin-left: 65px;
    font-size: 24px;
    font-weight: 700;
    color: #666666;
}

.close{
    margin-left: 65px;
    margin-top: 10px;
}

.close img{
    width: 16px; 
    height: 16px;
    cursor:pointer; 
}


.signupModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
}

.signupModal .modal-content{
    display: flex;
    position: relative;
    margin-top: 80px;
    width: 340px;
    height: 332px;
    /* border: 1px solid #888; */
    box-shadow: 0px 4px 60px #AAAAAA;
    background: 
        linear-gradient(270deg, #337788 0%, #66AABB 100%),
        white;
        background-repeat: no-repeat, no-repeat;
        background-size: 340px 10px, 340px 275px;
        background-position:0 0, 790px 80px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }




@media only screen and (min-width: 1200px){
    .main_container{
        display: grid;
        grid-template-rows: 54px auto auto ;
        grid-template-columns:1fr 600px 600px 1fr;
    }
    .footer{
        grid-row: 1/2;
        grid-column: 1/5;
        display: grid;
        grid-template-rows: 54px ;
        grid-template-columns: 1fr 600px 600px 1fr;
        background-color: white;
        position: fixed;
        top:0px;
        z-index: 99;
        border-bottom: 1px solid #E8E8E8;
    }

    .footer .choose_page{
        padding-left: 30px;
        grid-column: 3/4;
        justify-content: right;
    }


    .footer .choose_page div{
        padding-left: 30px;
    }
    
    .page_title{
        margin: 10px;
        font-size: 30px;
        font-weight: 1000;
        color: #448899 ;
        grid-column: 2/3;
    }

    .thankyou-container{
        grid-row: 2/3;
        grid-column: 2/3;
        margin-top: 100px;
    }

    .endBannar{
        grid-row: 3/4;
        grid-column: 1/5;
        display: flex;
        background-color: #666666;
        width: 100%;
        height: 104px;
        justify-content: center;
    }

}