<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://52.73.173.92:3000/static/book.css" />
    <script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
    <title>台北一日遊</title>
</head>
<body>
    <div class="main_container">
        <div class="footer">
            <div class="page_title">台北一日遊</div>
            <div class="choose_page">
                <div class="booking">預定行程</div>
                <div class="signin_up" id="enter">登入/註冊</div>
            </div>
        </div>
        <div class="attraction-container">
            <div class="booking-header"></div>
            <div class="attraction-info-container">
                <div class="attraction-img-container">
                    <img class="attraction-img">
                </div>
                <div class="attaction-info"></div>
            </div>
            <div class="delete-img-container">
                <img class="delete-img" src="https://s3-alpha-sig.figma.com/img/5537/1303/f31984c7c73c46aaed1a7a1c9003277f?Expires=1651449600&Signature=hidEQBCQ~5l65acoG3FZOhKys4ycs2nQoGI6dXv0r5CJCciv-9x1QEZEV4JCfklLXlqQ5z9uIX-3UxgX3HwEvswSGqHW5jYk4WgrqHFoMZyOafnIckvI3kX7jRSrn~RDgao0sKY6jJJIq4ehZ7yIIVymcEWdmvdOXMmqhQrJ1j55~qewZbPGvMCTt5bShCSCJfXdg1-F0vROcF4eMHf5ZsGoSnHVnV1TR-0Bb0g0YdNUboP9EFZLn-1m52E~JewfyvSPkgMUAn3gAcpYiXl9wJICcZK~f9BLTzTBDvmsbAjz8l-A-rQx1Q~CIpf-EXEKUpke5KT4-GtOm554~sqvOw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
            </div>
        </div>
        <div class="user-contact-container">
            <div class="user-contact-title">您的聯絡資訊</div>
            <div>
                <label>聯絡姓名:</label>
                <input type="text", class="inputname" placeholder="" name="name" id="username">
            </div>
            <div>
                <label>連絡信箱:</label>
                <input type="text", class="inputemail" placeholder="" name="email" id="email">
            </div>
            <div>
                <label>手機號碼:</label>
                <input type="text", class="inputphone" placeholder="" name="phone" id="phone">
            </div>
            <div class="user-contact-end">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的連絡方式。</div>
        </div>
        <div class="payment-container">
            <div class="payment-title">信用卡付款資訊</div> 
            <div class="card-container">
                <lable class="card-content" for="card-number">卡片號碼:</lable>
                <div class="tpfield" id="card-number"></div>
            </div>
            <div class="card-container">
                <lable class="card-content" for="card-expiration-date">過期時間:</lable>
                <div class="tpfield" id="card-expiration-date"></div>
            </div>
            <div class="card-container">
                <lable class="card-content" for="card-ccv">驗證密碼:</lable>
                <div class="tpfield" id="card-ccv"></div> 
            </div>  
        </div>
        </div>
        <div class="final-submit-container">
        <div class="final-submit">
                <div class="payment-check"></div>
                <input type="submit" , class="paybt" value="確認訂購並付款" id="paybt" onclick=payment()> 
        </div>
    </div>
    <div class="endBannar">
        <div class="endBannar-content">COPYRIGHT © 2021 台北一日遊</div>
    </div>
    <div id="signinModal" class="signinModal">
        <div class="modal-content" id="sigin-modal-content">
            <div class="modal-header" >
                <div class="sig-header">登入會員帳號</div>
                <div class="close" id="close1">
                <img src="https://s3-alpha-sig.figma.com/img/0a1f/425f/8de46cdc235bdc9b370c21e0028a68e6?Expires=1651449600&Signature=EtFYsefzkVR5edpzVDK2CtJttXLhZg6Y3Ez865EHpOKtlE2EgCnSLwReSkw8-O5Ca4vrFAUv44DEbgGcwYjnlhct4AOhRgp25uVPoc5jd0qkmMJDU23xqOzYLcXUPGgqq8bjZDzkHZyF5RqY3pNRFjhWXYoHfIr-rvhPPdomQwvtl-KR13JR~mDJOB127xs3OUGCbwPZRvXMZFuZ8V1XqKvRLbibygBThIyAqc1FNuaOoEV-wyfdsdKfq2YovYQ-b73SbZ4FAkzfwRPtrgjboOOqj6qPFgLtFI1W7Q9OTVzuR9rw71sA7bI2-SUTSm2jVq1MoWYCsXUsGSQ~kutwmA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                </div>
            </div>
            <div class="input-block">
                <input type="text", class="email" placeholder="輸入電子信箱" name="email" id="siginemail"><br>
                <input type="password", class="password" placeholder="輸入密碼" name="password" id="siginpassword"><br>
                <input type="submit" , class="sig_bt" value="登入帳戶" id="sigin_bt">
            </div>
            <div class="massage" id="siginmessage"></div>
            <div class="end-text" id="end-text-sigin">還沒有帳戶?點此註冊</div>
        </div>
    </div>
    <div id="signupModal" class="signupModal" >
        <div class="modal-content" id="sigup-modal-content">
            <div class="modal-header">
                <div class="sig-header">註冊會員帳號</div>
                <div class="close" id="close2">
                <img src="https://s3-alpha-sig.figma.com/img/0a1f/425f/8de46cdc235bdc9b370c21e0028a68e6?Expires=1651449600&Signature=EtFYsefzkVR5edpzVDK2CtJttXLhZg6Y3Ez865EHpOKtlE2EgCnSLwReSkw8-O5Ca4vrFAUv44DEbgGcwYjnlhct4AOhRgp25uVPoc5jd0qkmMJDU23xqOzYLcXUPGgqq8bjZDzkHZyF5RqY3pNRFjhWXYoHfIr-rvhPPdomQwvtl-KR13JR~mDJOB127xs3OUGCbwPZRvXMZFuZ8V1XqKvRLbibygBThIyAqc1FNuaOoEV-wyfdsdKfq2YovYQ-b73SbZ4FAkzfwRPtrgjboOOqj6qPFgLtFI1W7Q9OTVzuR9rw71sA7bI2-SUTSm2jVq1MoWYCsXUsGSQ~kutwmA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                </div>
            </div>
            <div class="input-block">
                <input type="text", class="name" placeholder="輸入姓名" name="name" id="sigupname"><br>
                <input type="text", class="email" placeholder="輸入電子信箱" name="email" id="sigupemail"><br>
                <input type="password", class="password" placeholder="輸入密碼" name="password" id="siguppassword"><br>
                <input type="submit" , class="sig_bt" value="註冊新帳戶" id="sigup_bt">
            </div>
            <div class="massage" id="sigupmessage"></div>
            <div class="end-text" id="end-text-sigup">已經有帳戶了?點此登入</div>
        </div>
    </div>
    <script src="http://52.73.173.92:3000/static/book.js"></script>
</body>
</html>